{% extends 'theme.html' %}
{% load static%}
{% block content %}
<main class="tm-main">
    <form action="" method="post">
        {% csrf_token %}
        <h1>LOGIN</h1>
        <br><br>
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">USERNAME : </span>
            {{form.username}}
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">PASSWORD : </span>
            {{form.password}}
          </div>
          <button type="submit" class="btn btn-success">LOGIN</button>            
    </form>   
</main>
{% endblock %}